<div class="container text-center">

  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>


  <div class="list list_action text-center">
    <p><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
    <p><%= link_to "Back to Restaurants List", restaurants_path %></p>
  </div>

  <div class="card_review text-center">
    <% @restaurant.reviews.each do |review| %>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-text"><em>"<%= review.content %>"</em></h5>
        <p class="card-text">Rating : <%= review.rating %>/5</p>
      </div>
    </div>
    <% end %>
  </div>
</div>


